.post-list-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post {
  height: 100vh;  /* Ensure each post container takes up the entire viewport height */
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.post-list-container::-webkit-scrollbar {
  width: 0;
}

